{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static "js/jquery-multi-select/css/multi-select.css" %}" />
{% endblock %}

{% block title %}
    <title>添加用户</title>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <section class="panel">
                <div class="panel-body">
                    <form action="{% url 'zabbix:adduser' %}" method="post">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="form-group">
                            <label class="control-label">{{ form.username.label }}</label>
                            {{ form.username }}
                            {% for error in form.username.errors %}
                                <div class="has-error">
                                    <p class="help-block">{{ error }}</p>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="form-group">
                            <label class="control-label">{{ form.name.label }}</label>
                            {{ form.name }}
                            {% for error in form.name.errors %}
                                <div class="has-error">
                                    <p class="help-block">{{ error }}</p>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="form-group">
                            <label class="control-label">{{ form.tele.label }}</label>
                            {{ form.tele }}
                            {% for error in form.tele.errors %}
                                <div class="has-error">
                                    <p class="help-block">{{ error }}</p>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="form-group">
                            <label class="control-label">{{ form.email.label }}</label>
                            {{ form.email }}
                            {% for error in form.email.errors %}
                                <div class="has-error">
                                    <p class="help-block">{{ error }}</p>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="form-group">
                            <label for="exampleInputFile">{{ form.usergroups.label }}</label>
                            {{ form.usergroups }}
                            {% for error in form.usergroups.errors %}
                                <div class="has-error">
                                    <p class="help-block">{{ error }}</p>
                                </div>
                            {% endfor %}
                        </div>

                        <hr>

                        <div class="form-group">
{#                            <label class="control-label"></label>#}
                            <button type="submit" class="btn btn-primary"> 修改 </button>
                            <a role="button" href="{% url 'zabbix:index' %}" class="btn btn-default"> 取消 </a>
                        </div>
                    </form>

                </div>
            </section>
        </div>
        <div class="col-lg-4"></div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "js/jquery-multi-select/js/jquery.multi-select.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-multi-select/js/jquery.quicksearch.js" %}"></script>
    <script src="{% static "js/multi-select-init.js" %}"></script>
{% endblock %}