{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    <title>Newtouch Monitor</title>
{% endblock %}

{% block body %}
    <div class="row">
        {% include 'entry.html' %}
    </div>
    <div class="row">
        <div class="col-md-8">
            {% include 'reload.html' %}
        </div>
        <div class="col-md-4">
            {% include 'clock.html' %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static "js/clock.js" %}"></script>
{% endblock %}
